@font-face {
  font-family: Source Sans Pro;
  src: url(../font/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: Source Sans Pro;
}

/* backgorund */
body {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* dark layer */
.container.satu {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Main Container */
.container.dua {
  width: 80vw;
  display: flex;
  margin: auto;
}

/* Konten Kiri */
.container.dua .left {
  display: flex;
  width: 50%;
}

.konten1 {
  margin: 50% 0px;
}

.left img {
  width: 35px;
  height: 35px;
}

.left h1 {
  font-weight: lighter;
  color: white;
  margin-top: -40px;
  margin-left: 40px;
}

/* KOnten kanan */
.container.dua .right {
  display: flex;
}

.konten2 {
  height: 480px;
  margin-top: 50px;
  border-radius: 5px;
  padding: 30px 50px;
  box-sizing: border-box;
  background-color: white;
}

.konten2 h1 {
  font-weight: 600;
  margin-bottom: 10px;
}

.konten2 p {
  font-size: 14px;
  margin-bottom: 10px;
}

.konten2 a {
  text-decoration: none;
}

/* Form */

form label.email {
  font-size: 12px;
  color: gray;
}

form input.email {
  border: 0.5px solid rgba(0, 81, 255, 0.3);
  border-top: none;
  border-left: none;
  border-right: none;
  width: 350px;
  height: 20px;
  margin-bottom: 20px;
}

form .btn {
  border-radius: 999px;
  font-weight: bold;
  border: none;
}

.btn.continue {
  background-color: #1473e6;
  padding: 8px 16px;
  color: white;
  margin-left: 77%;
}

form p {
  margin-left: 50%;
}

form .btn2 {
  border-radius: 999px;
  font-weight: bold;
  border: none;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

/* Login Google */
.btn2.google {
  border: 1px solid #1473e627;
  background-color: white;
}

.google img {
  width: 16px;
  margin-right: 8px;
}

/* Login Fb */
.btn2.fb {
  background-color: #1877f2;
  color: white;
}

.fb img {
  width: 16px;
  margin-right: 8px;
}

/* Login Apple */
.btn2.apple {
  background-color: #000;
  color: white;
}

.apple img {
  width: 14px;
  margin-right: 8px;
}
